<a href="https://colab.research.google.com/github/yj1008/Share_FinancialSMS/blob/master/Success_Show_Data_Korean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pandas_profiling

In [0]:
data = pd.read_csv(r'C:\Users\yoonj\OneDrive\Documents\KB_Data_TextSmishing\Original\train_ansi.csv',engine='python')

In [0]:
data[:15]

    id year_month                                               text  smishing
0    0    2017-01                           XXX은행성산XXX팀장입니다.행복한주말되세요         0
1    1    2017-01              오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림         0
2    2    2017-01  안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...         0
3    4    2017-01  XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...         0
4    5    2017-01           1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다         0
5    6    2017-01                        행복한주말보내세요XXX용현남전담직원대리 XXX올림         0
6    7    2017-01  XXX 고객님 안녕하세요XXX은행 무교지점 XXX과장입니다 오늘 아침에 눈을 뜨니 ...         0
7    8    2017-01  XXX 고객님지난 한해 베풀어 주신 은혜 진심으로 감사 드립니다.가슴 깊이 간직 하...         0
8    9    2017-01         설연휴 가족들과 훈훈한 정 나누시고 정겨운추억 많이 만드세요XXX오XXX올림         0
9   10    2017-01  (광고)XXXBaXXX고객님들 뒤엔XXX 언제나 XXX새로운 마음가짐으로 새롭게 준...         1
10  11    2017-01  사장님 안녕하십니까?XXX은행 영도지점장 입니다.항상 XXX은행 영도지점을 아끼고 ...         0
11  12    2017-01  첫날은 아니지만 누군가 행복을 빌어주면 한달내내 행복하다는  문자를 받았어요. 1월...         0
12  13    2017-01         이번에 인사이동으로 유통단지지점으로 이동하게 되었습니다. 건강하십시요.XXX         0
13  14    2017-01       고객님의 귀중한 자산 맡겨주셔서감사합니다.활기찬 하루 보내세요.XXX옥천 XXX         0
14  16    2017-01  XXX 고객님항상 저희 XXX은행 미XXX점에 베풀어 주시는 성원과 애정에 깊은 감...         0